# --- Python ---
__pycache__/
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
venv/
.env

# --- Jupyter ---
.ipynb_checkpoints/

# --- OS / Editor ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Outputs / Data ---
/results/*
/data/
/dataset_all/
/tutorial/
/tutorials/
/dataset_motif1mer/
/dataset_variant/
*.tmp

# --- Figures ---
*.png
*.pdf
*.svg

# --- Docs ---
docs/build/

# --- reproducibility large resources ---
/reproducibility/motif_resources/
/reproducibility/gwas_resources/
/reproducibility/cross_cell_type/
/reproducibility/ClinVar_TCGA_1000G_resources/
/reproducibility/cell_type_specific/
/reproducibility/ablation&interpretability/

# Remain
!framework.jpg
!/docs/_static/BRIDGE_logo.png

!/results/logs/
!/results/metrics/
!/results/model/
!/results/logs/**
!/results/metrics/**
!/results/model/**

!/dataset_variant/readme.md